[tool.poetry]
name = "qtica"
version = "0.1.0"
description = "Qtica is a Python library that provides a lightweight API around native PySide6, allowing for lightning-fast GUI prototyping using modern declarative UI techniques entirely within Python."
authors = ["Osama Mohammed Al-zabidi <omamkaz@gmail.com>"]
license = "GPL-3.0"
readme = "README.md"
keywords = ["qt", "pyside6", "python", "declarative", "qml", "Qtica"]
homepage = "https://github.com/omamkaz/Qtica"

[tool.poetry.dependencies]
python = "^3.10"
PySide6 = "^6.5.0"
pynput = "^1.7.6"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
